<div id="top-ten" class="container col-sm-12">
  <nav class="tab-bar">
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-hot-pill" data-toggle="tab" href="#nav-hot" role="tab" aria-controls="nav-hot"
        aria-selected="true">Hot</a>
      <a class="nav-item nav-link" id="nav-latest-pill" data-toggle="tab" href="#nav-latest" role="tab" aria-controls="nav-latest"
        aria-selected="false">Latest</a>
      <a class="nav-item nav-link" id="nav-best-sellers-pill" data-toggle="tab" href="#nav-best-sellers" role="tab" aria-controls="nav-best-sellers"
        aria-selected="false">Best Sellers</a>
      <a class="nav-item nav-link" id="nav-promos-pill" data-toggle="tab" href="#nav-promos" role="tab" aria-controls="nav-promos"
        aria-selected="false">Promos</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-hot" role="tabpanel" aria-labelledby="nav-hot-pill">


      <div *ngFor="let game of games" class="grid-box">
        <div class="inner">
          <div class="image">
            <!-- this link should be to the productId -->
            <a href={{game.thumbnailUrl}}>
              <img src={{game.thumbnailUrl}} alt={{game.name}}>
            </a>
          </div>
          <div class="name">
            <a href={{game.thumbnailUrl}}>
              {{game.name}}
            </a>
          </div>
          <div class="price">
            {{game.price}}
          </div>
          <div class="cart">
            <!-- TODO: fix onclick  onclick="addToCart('{{game.id}}');"  -->
            <input type="button" value="Buy" class="button" />
          </div>
        </div>
      </div>

      <!-- fix the hack -->
      <div style="color: white; user-select: none">
          Links
        </div>

    </div>
    <div class="tab-pane fade" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-pill">

      <div *ngFor="let game of games" class="grid-box">
        <div class="inner">
          <div class="image">
            <!-- this link should be to the productId -->
            <a href={{game.thumbnailUrl}}>
              <img src={{game.thumbnailUrl}} alt={{game.name}}>
            </a>
          </div>
          <div class="name">
            <a href={{game.thumbnailUrl}}>
              {{game.name}}
            </a>
          </div>
          <div class="price">
            {{game.price}}
          </div>
          <div class="cart">
            <!-- TODO: fix onclick  onclick="addToCart('{{game.id}}');"  -->
            <input type="button" value="Buy" class="button" />
          </div>
        </div>
      </div>

      <!-- fix the hack -->
      <div style="color: white; user-select: none">
          Links
        </div>

    </div>
    <div class="tab-pane fade" id="nav-best-sellers" role="tabpanel" aria-labelledby="nav-best-sellers-pill">
      <div *ngFor="let game of games" class="grid-box">
        <div class="inner">
          <div class="image">
            <!-- this link should be to the productId -->
            <a href={{game.thumbnailUrl}}>
              <img src={{game.thumbnailUrl}} alt={{game.name}}>
            </a>
          </div>
          <div class="name">
            <a href={{game.thumbnailUrl}}>
              {{game.name}}
            </a>
          </div>
          <div class="price">
            {{game.price}}
          </div>
          <div class="cart">
            <!-- TODO: fix onclick  onclick="addToCart('{{game.id}}');"  -->
            <input type="button" value="Buy" class="button" />
          </div>
        </div>
      </div>

      <!-- fix the hack -->
      <div style="color: white; user-select: none">
        Links
      </div>

    </div>
    <div class="tab-pane fade" id="nav-promos" role="tabpanel" aria-labelledby="nav-promos-pill">
      <div *ngFor="let game of games" class="grid-box">
        <div class="inner">
          <div class="image">
            <!-- this link should be to the productId -->
            <a href={{game.thumbnailUrl}}>
              <img src={{game.thumbnailUrl}} alt={{game.name}}>
            </a>
          </div>
          <div class="name">
            <a href={{game.thumbnailUrl}}>
              {{game.name}}
            </a>
          </div>
          <div class="price">
            {{game.price}}
          </div>
          <div class="cart">
            <!-- TODO: fix onclick  onclick="addToCart('{{game.id}}');"  -->
            <input type="button" value="Buy" class="button" />
          </div>
        </div>
      </div>

     <!-- fix the hack -->
     <div style="color: white; user-select: none">
        Links
      </div>

    </div>
  </div>
</div>