#top-ten {
  margin: auto;
  margin-top: 10px;
}

#nav-tab {
  margin-bottom: 10px;
}

.grid-box {
  width: 20%;
  text-align: center;
  position: relative;
  overflow: visible;
  margin-bottom: 20px;
  height: auto !important;
  min-height: 280px;
}

.grid-box {
  text-align: center;
  float: left;
}

.grid-box .inner {
  border-width: 1px;
  border-bottom: none;
  position: absolute;
  /* height: 335px; */
  z-index: 45;
}

.grid-box .inner {
  border: 0px solid transparent;
  border-bottom-color: #f2f2f2;
  padding: 16px;
  position: relative;
}

.mainborder a {
  color: #24C0EB;
}

a, a:visited {
  color: #333;
}

a {
  transition: color 0.5s ease-in;
  text-decoration: none;
}

a {
  color: #428bca;
  text-decoration: none;
}

.grid-box .name, .grid-box .rating, .grid-box .price, .grid-box .cart, .grid-box .wishlist, .grid-box .compare {
  z-index: 9;
  position: relative;
}

.grid-box .image img {
  margin-bottom: 10px;
  max-width: 180px;
  width: 100%;
}

/* not sure */
/* .grid-box .image img {
  max-width: 100%;
  margin-bottom: 10px;
} */

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.name {
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
}

.grid-box .name a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  max-width: 200px;
}

.grid-box .price {
  color: #24C0EB;
}

.price {
  margin-bottom: 4px;
}

/* ul li .cart .button, .grid-box .cart .button, .product-grid .cart .button, .product-list .cart .button:hover {
  padding: 5px 10px;
  font-size: 10px;
  transition-duration: 1s;
  transition: background-color ease-in 0.5s;
} */

ul li .cart .button, .grid-box .cart .button, .product-grid .cart .button, .product-list .cart .button {
  padding: 5px 10px;
  font-size: 10px;
  border: 1px solid #888;
  transition-duration: 1s;
  transition: background-color ease-in 0.5s;
  z-index: 9999;
}

/* .product-box .grid-box .button, .product-grid .grid-box .button {
  margin-top: 4px;
  margin-left: -9999px;
} */

/* .payment .button, .cart .button, .button-cart, #button-confirm {
  border-color: #24C0EB;
  color: #FFF !important;
  transition: background-color ease-in 0.5s;
  transition-duration: 1s;
} */

.payment .button, .cart .button, .button-cart, #button-confirm {
  border-color: #146D85 !important;
  color: #FFF !important;
  background-color: #24C0EB !important;
  background-image: -moz-linear-gradient(center top , #24C0EB, #1B90B0) !important;
  background-repeat: repeat-x !important;
}

/* .payment .right .button, .cart .button, .button-cart {
  padding: 8px 12px;
  font-size: 15px;
  border-color: #24C0EB;
  color: #FFF !important;
  transition: background-color 1s ease-in 0s;
} */

/* .payment .button, .cart .button, .button-cart, #button-confirm {
  border-color: #146D85;
  color: #FFFFFF !important;
  background-color: #24C0EB;
  background-image: -moz-linear-gradient(top, #24C0EB, #1B90B0);
  background-image: -ms-linear-gradient(top, #24C0EB, #1B90B0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24C0EB), to(#1B90B0));
  background-image: -webkit-linear-gradient(top, #24C0EB, #1B90B0);
  background-image: -o-linear-gradient(top, #24C0EB, #1B90B0);
  background-image: linear-gradient(top, #24C0EB, #1B90B0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24C0EB', endColorstr='#1B90B0', GradientType=0);
} */

.payment .right .button, .cart .button, .button-cart {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-transform: uppercase;
  background-color: #DD4B39;
  /* background-image: -moz-linear-gradient(top, #DD4B39, #c43f2d);
  background-image: -ms-linear-gradient(top, #DD4B39, #c43f2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DD4B39), to(#c43f2d));
  background-image: -webkit-linear-gradient(top, #DD4B39, #c43f2d);
  background-image: -o-linear-gradient(top, #DD4B39, #c43f2d);
  background-image: linear-gradient(top, #DD4B39, #c43f2d); */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#c43f2d', GradientType=0);
  border-color: #DD4B39 #DD4B39 #c43f2d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* .cart .button, .button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
} */

/* button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
} */

.button {
  cursor: pointer;
}

/* input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
} */


/* mouse over attempt  */
.grid-box {
  border: 1px solid transparent;
}

.cart {
  visibility: hidden;
}

.grid-box:hover {
  border: 1px solid gainsboro;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,.2); */
  -webkit-box-shadow: 0 0 6px 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px 6px rgba(0,0,0,.1);
    box-shadow: 0 0 6px 6px rgba(0,0,0,.1);
    display: block;

    
}

.grid-box:hover .cart {
  visibility: visible
}