<div class="container col-sm-12">
  <div class="top-ten">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-hot-tab" data-toggle="pill" href="#pills-hot" role="tab" aria-controls="pills-hot" aria-selected="true">Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-latest-tab" data-toggle="pill" href="#pills-latest" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-best-sellers-tab" data-toggle="pill" href="#pills-best-sellers" role="tab" aria-controls="pills-best-sellers" aria-selected="false">Best Sellers</a>
      </li>
      <li class="nav-item" title="Coming Soon">
        <a class="nav-link disabled" id="pills-promos-tab" data-toggle="pill" href="#pills-promos" role="tab" aria-controls="pills-promos" aria-selected="false">Promos</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-hot" role="tabpanel" aria-labelledby="pills-hot-tab">
        <div class="product-box">
          <div *ngFor="let game of hotGames | async" class="grid-box">
            <div class="inner">
              <div class="image">
                <a href="game/{{game.name | toLowerHyphen}}">
                  <img src={{game.cover}} alt={{game.name}}>
                </a>
              </div>
              <div class="name">
                <a id="game-link" href="game/{{game.name | toLowerHyphen}}">
                  {{game.name}}
                </a>
              </div>
              <div class="price">
                ${{game.price}}
              </div>
              <div class="cart">
                <input type="button" value="Buy" class="button" (click)="cartService.addProduct(game.name)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
        <div class="product-box">
          <div *ngFor="let game of latestGames | async" class="grid-box">
            <div class="inner">
              <div class="image">
                <a href="game/{{game.name | toLowerHyphen}}">
                  <img src={{game.cover}} alt={{game.name}}>
                </a>
              </div>
              <div class="name">
                <a id="game-link" href="game/{{game.name | toLowerHyphen}}">
                  {{game.name}}
                </a>
              </div>
              <div class="price">
                ${{game.price}}
              </div>
              <div class="cart">
                <input type="button" value="Buy" class="button" (click)="cartService.addProduct(game.name)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-best-sellers" role="tabpanel" aria-labelledby="pills-best-sellers-tab">
        <div class="product-box">
          <div *ngFor="let game of bestsellerGames | async" class="grid-box">
            <div class="inner">
              <div class="image">
                <a href="game/{{game.name | toLowerHyphen}}">
                  <img src={{game.cover}} alt={{game.name}}>
                </a>
              </div>
              <div class="name">
                <a id="game-link" href="game/{{game.name | toLowerHyphen}}">
                  {{game.name}}
                </a>
              </div>
              <div class="price">
                ${{game.price}}
              </div>
              <div class="cart">
                <input type="button" value="Buy" class="button" (click)="cartService.addProduct(game.name)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-promos" role="tabpanel" aria-labelledby="pills-promos-tab" >
        <div class="product-box">
          <div *ngFor="let game of allGames | async" class="grid-box">
            <div class="inner">
              <div class="image">
                <a href="game/{{game.name | toLowerHyphen}}">
                  <img src={{game.cover}} alt={{game.name}}>
                </a>
              </div>
              <div class="name">
                <a id="game-link" href="game/{{game.name | toLowerHyphen}}">
                  {{game.name}}
                </a>
              </div>
              <div class="price">
                ${{game.price}}
              </div>
              <div class="cart">
                <input type="button" value="Buy" class="button" (click)="cartService.addProduct(game.name)"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
