<div id="featured" class="carousel slide container col-sm-12" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#featured" *ngFor="let game of featuredGames | async; let firstGame = first"
    [class.active]="firstGame" [attr.data-slide-to]="game.slide_num-1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let game of featuredGames | async; let firstGame = first"
    [class.active]="firstGame">
    <a href="game/{{game.name | toLowerHyphen}}">
      <img class="d-block w-100" src="{{game.slide}}">
    </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>