<div class="container col-sm-12">

  <div *ngIf="cart.getProducts().length == 0; then empty else full">
  </div>
    
  <ng-template #empty>
    <div class="empty-cart">
        <h3>Cart</h3>
        <div class="empty">
          <p>Your Cart is empty!</p>
        </div>
        <div class="buttons">
          <a href="/" class="button button-default button-inverse">Continue</a>
        </div>
    </div>
  </ng-template>
    
  <ng-template #full>
  <div class="cart">
    <h3>Cart</h3>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="image">Picture</th>
            <th class="name left">Name</th>
            <th class="productId">Product ID</th>
            <th class="quantity">Quantity</th>
            <th class="price right">Unit Price</th>
            <th class="total right">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cart.getProductsQ(); let i = index">
            <td class="image">
              <a href="game/{{cart.getProducts()[i]?.name  | toLowerHyphen}}">
                <img src="{{ cart.getProducts()[i]?.cover }}" alt="{{ cart.getProducts()[i]?.name }}" title="{{ cart.getProducts()[i]?.name }}">
              </a>
            </td>
            <td class="name left">
              <a href="game/{{cart.getProducts()[i]?.name  | toLowerHyphen}}">
                <b>{{ cart.getProducts()[i]?.name }}</b>
              </a>
            </td>
            <td class="productId">
              {{ cart.getProducts()[i]?.product_id }}
            </td>
            <td class="quantity">
              <input #input type="number" min="1" value="{{ cart.getProductsQ()[i] }}" step="1" onkeydown="return false" class="input-quantity form-control input-sm" disabled/>
              <div class="quantity-controls">
                <i (click)="increaseQ(i)"><img src="assets\icons\arrow-up-black.png"></i>
                <i (click)="decreaseQ(i)"><img src="assets\icons\arrow-down-black.png"></i>
              </div>
              <div class="remove-item">
                <i><img src="assets\icons\remove.png" (click)="removeItem(i)" onmouseover="this.src='assets/icons/remove-red.png'" onmouseout="this.src='assets/icons/remove.png'"></i>
              </div>
            </td>
            <td class="price right">
              ${{ cart.getProducts()[i]?.price }}
            </td>
            <td class="total right">
              ${{ (cart.getProducts()[i]?.price * cart.getProductsQ()[i]).toFixed(2) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" id="sum-total">
      <table id="total">
        <tbody>
          <tr>
            <td>
              <b>Sum Total: </b>
            </td>
            <td>${{ cart.getTotalPrice() }}</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <span class="cart-buttons">
          <input type="button" id="button-continue-shopping" value="Continue Shopping" onclick="location.href='#'">
          {{ post | async | json }}
          <input type="button" id="button-order" value="Order" (click)="sendPaymentInfo()">
        </span>
      </div>
      
    </div>
  </div> 
  </ng-template>

</div>
