<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
^ probably shouldn't be linked here -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div id="header">
  <div class="container">
    <div class="row">
      <div class="welcome col-sm-6">
        Hello! Please <a href="#login">Login</a> or <a href="#register">Register</a>! 
      </div>
      <div class="cart col-sm-6">
        <div class="fa fa-shopping-cart"></div>
        <a href="#cart" title="My Cart">0 product(s) - $0,00</a><span class="temp-separator"> |</span>
        <div class="fa fa-arrow-down"></div>
      </div>
    </div>
  </div>
</div>
