nav {
  margin: auto;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainNav {
  padding-right: 10px;
  padding-left: 5px;
}

.nav-link {
  color: #333333 !important;
  border-left-color: #E7E7E7;
  transition: color 1s ease 0s;
  font-weight: bold;
  text-shadow: none;
  padding: 6px 6px 4px;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Open Sans Condensed", sans-serif;

  transition: all 1s ease;
}

.nav-link:hover {
  color: #24C0EB !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#logo {
  height: 40px;
}

#navbar-logo {
  margin-right: 1rem;
  margin-left: 5px;
  margin-bottom: -2px;
}

#header .elements {
  clear: both;
  position: relative;
  margin-top: 20px;
}

#search-box:focus {
  outline-width: 0 !important;
}

#button-addon2 {
  border-left: none;
}

#search-box {
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 9px;
  width: 200px;
  height: 28px;
}

#search-button {
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#search-button:hover {
  background: #8ad4e8;
}

.input-group {
  height: 30px;

}

.icon-search {
  margin-bottom: 10px;
  margin-right: -1px;
  margin-left: -1px;
}

.input-group {
  border: solid 1px #888888;
  border-radius: 9px;
  transition: all .5s ease;
}

.input-group-append {
  height: 28px;
}

.input-group:focus-within {
  
  border: solid 1px #8ad4e8;
  box-shadow: 0px 0px 5px 1px #8ad4e8;
}
