<header id="header">
  <div class="container elements col-sm-12">
    <div class="row">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a id="navbar-logo" href="/">
          <img id="logo" title="ANGULAR STORE" alt="logo" src="assets\icons\logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/games">Games</a>
            </li>
            <li class="nav-item" *ngIf="auth.canEdit(auth.user$ | async)">
              <a class="nav-link" href="/add-game">Add Game</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="input-group">
              <input type="text" id="search-box" placeholder="Search" autocomplete="off">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="search-button">
                    <img class="icon-search" src="assets\icons\search-icon.png">
                  </button>
                </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>
