<div id="topbar">
  <div class="container col-sm-12">
    <div class="row">
      <div class="welcome col-sm-6 hidden-xs-up">
        <div *ngIf="auth.user$ | async; then authenticated else guest">

        </div>  
      </div>

      <ng-template #guest>
        Hello! Please <a href="login">Login</a> or <a href="register">Register</a>!
      </ng-template>
      
      <ng-template #authenticated>
        <div *ngIf="auth.user$ | async as user">
            Welcome, <a href="profile">{{ user.email }}</a>!  (<a href="" (click)="auth.signOut()">Logout</a>)
        </div>
      </ng-template>

      <div class="cart col-sm-6">
        <a href="cart" title="My Cart">
          <img id="cart-img" src="assets\icons\shopping-cart.png" alt="cart">
            {{ cart.getProductCount() }} produdct(s) - ${{ cart.getTotalPrice() }}
          <img src="assets\icons\separator-line.png" alt="separator-line">
        </a>
        <img id="cart-details" src="assets\icons\arrow-down.png" alt="cart">
      </div>
    </div>
  </div>
</div>
