<app-featured [featuredGames]="featuredGames"></app-featured>
<app-top-ten [allGames]="allGames"></app-top-ten>

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->
 
  <!-- <div class="container">
    <div class="row">
      <div class="inner">
        <img src="http://www.pulsar.bg/image/cache/data/products4/Packshots2/Dirt4_P4-180x180.jpg"/>
        <div class="name">
          {{ game.name }}
        </div>
        <div class="price">
          {{ game.price }}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="inner">
        <img src="http://www.pulsar.bg/image/cache/data/products4/Packshots2/Dirt4_P4-180x180.jpg"/>
        <div class="name">
          {{ game.name }}
        </div>
        <div class="price">
          {{ game.price }}
        </div>
      </div>
    </div>
  
    <div class="grid-box">
      <div class="inner">
        <img src="http://www.pulsar.bg/image/cache/data/products4/Packshots2/Dirt4_P4-180x180.jpg"/>
        <div class="name">
          {{ game.name }}
        </div>
        <div class="price">
          {{ game.price }}
        </div>
      </div>
    </div>
  
    <div class="grid-box">
      <div class="inner">
        <img src="http://www.pulsar.bg/image/cache/data/products4/Packshots2/Dirt4_P4-180x180.jpg"/>
        <div class="name">
          {{ game.name }}
        </div>
        <div class="price">
          {{ game.price }}
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="card-deck">
    <div class="card col-sm-2">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    </div>
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    </div>
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    </div>
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    </div>
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    <!-- </div> -->
<!-- 
    <div class="card col-sm-3">
      <img class="card-img-top" src="{{game.thumbnailUrl}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{game.name}}</h5>
        <p class="card-text" style="text-align: center">{{game.price}}</p>
      </div>
    </div> -->