<div class="container col-sm-12">
  <div class="games">
    <div class="nav flex-column nav-pills" id="genres" role="tablist" aria-orientation="vertical">
      <a *ngFor="let genre of genres; let firstGenre = first"
      [class.active]="firstGenre"
      [attr.aria-selected.true]="firstGenre"
      class="nav-link" data-toggle="pill" role="tab"
      [attr.id]="'v-pills-' + genre + '-tab'"
      [attr.href]="'#v-pills-' + genre"
      [attr.aria-controls]="'v-pills-' + genre">{{genre}}</a>
    </div>
    <div class="tab-content" id="genres-tabContent">
      <div *ngFor="let genre of genresGames | keyvalue; let firstGenre = first"
      class="tab-pane fade" role="tabpanel"
      [class.active]="firstGenre" [class.show]="firstGenre"
      [attr.id]="'v-pills-' + genre.key"
      [attr.aria-labelledby]="'v-pills-' + genre.key + '-tab'">
        <div class="product-box">
          <div *ngFor="let game of genre.value[0] | paginate: { id: genre.key, itemsPerPage: 5, currentPage: p[genre.key] }" class="grid-box">
            <div class="inner">
              <div class="image">
                <a href="game/{{game.name  | toLowerHyphen}}">
                  <img src={{game.cover}} alt={{game.name}}>
                </a>
              </div>
              <div class="name">
                <a id="game-link" href="game/{{game.name | toLowerHyphen}}">
                  {{game.name}}
                </a>
              </div>
              <div class="price">
                ${{game.price}}
              </div>
              <div class="cart">
                <input type="button" value="Buy" class="button" />
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-box">
          <pagination-controls class="my-pagination" previousLabel="<" nextLabel=">" id={{genre.key}} (pageChange)="p[genre.key] = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
