<div class="container">
  <section id="content-wrapper">
    <div class="breadcrumb">
    </div>
    <div id="notification">
    </div>
    <div class="row">
      <aside id="column-left" class="col-sm-3 hidden-xs-sidebar" role="complementary" style="opacity: 1">
        <div class="inner">
          <div class="box">
            <h4 class="module-header">Genres</h4>
            <div class="box-content box-category">
              <ul>
                <li>Action</li>
                <li>FPS</li>
                <li>RPG</li>
                <li>Horror</li>
                <li>Platformer</li>
                <li>Strategy</li>
                <li>Indie</li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <section id="maincontent" class="col-sm-9 sideleft category" role="main">
        <div class="mainborder">
          <header class="heading">
            <h1 class="page-header">Games</h1>
          </header>
        </div>
      </section>
    </div>
  </section>
</div>