.row {
  display: inline-flex;
  color: #A4A6AA;
}

.container {
  text-align: center;
  margin-top: -40px;
}

#footend {
  margin-top: 40px;
  background: #323232;
  padding: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#copy > a {
  color: #24C0EB;
  transition: all 1s ease;
}

#copy > a:hover {
  color: #FFF;
  text-decoration: none;
}